<div class="btns-flex">
    <div class="btns-flex-container">
        <div class="divTechinialManger">
            <input type="button" (click)="loadTechincalManager()" 
            class="btnTechicalManager raise" id="" value="Technical Manager">
        </div>
        <div class="divTechinialDelivery">
            <input type="button" (click)="loadTechincalDelivery()"
            class="btnTechicalDelivery raise" id="" value="Technical Delivery">
        </div>
        <div class="divApprovalLead">
            <input type="button" (click)="loadapprovalLead()"
            class="btnApprovalLead raise" id="" value="Approval Lead">
        </div>
        <div class="divGraduateManager">
            <input type="button" (click)="loadGraduateManager()"
            class="btnGraduateManager raise" id="" value="Graduate Manager">
        </div>
        <div class="divOthers">
            <input type="button" (click)="loadOthers()"
            class="btnOthers raise" id="" value="Others">
        </div>
    </div>
</div>
