<div class="container-fluid addProjectCalendarInterview">
    <h1 class="titleForm">Project Calendar</h1>
    <!-- teamNumber : [''],
    projectName : [''],
    evaluationDate : Date,
    projectProgress : [''],
    description : [''],
    selectBatchId : ['']
 }) -->
    <form [formGroup]="projectCalendar" (ngSubmit)="onSubmit()">
        <div class="form-group givespace">
            <label>Batch Name </label>
            <select formControlName="batchName" class="form-control" [class.is-invalid]="batchName?.invalid && batchName?.touched">
              <option value="">Batch Name</option>
              <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
              <option [value]="i.batchName" *ngFor="let i of getBatchName">{{i.batchName}}</option>
            </select>
            <div *ngIf="batchName?.invalid && batchName?.touched">

              <small class="text-danger" *ngIf="batchName?.errors?.['required']">Field required</small>
            
                </div>
            
          </div>
        <div class="form-group givespace">
            <label for="teamNumber" class="formbold-form-label">Team Number</label>
            <input [class.is-invalid]="teamNumber?.invalid && teamNumber?.touched"  type="number" formControlName="teamNumber" id="teamNumber" class="formbold-form-input" required>
            <div *ngIf="teamNumber?.invalid && teamNumber?.touched">

              <small class="text-danger" *ngIf="teamNumber?.errors?.['required']">Field required</small>
            
                </div>

          </div>
     
      <div class="form-group givespace">
        <label for="projectName" class="formbold-form-label">Project Name</label>
        <select formControlName="projectName" class="form-control" [class.is-invalid]="projectName?.invalid && projectName?.touched">
          <option value="">Project Name</option>
          <!-- <option *ngFor="let batchId of batchIdList" [ngValue]="batchId">{{batchId}}</option> -->
          <option [value]="i.projectName" *ngFor="let i of getProjectName">{{i.projectName}}</option>
        </select>
        <div *ngIf="projectName?.invalid && projectName?.touched">

          <small class="text-danger" *ngIf="projectName?.errors?.['required']">Field required</small>
        
            </div>
        
      </div>
      <div class="form-group givespace">
        <label for="description" class="formbold-form-label">Type of Evaluation</label>
        <input  [class.is-invalid]="description?.invalid && description?.touched" type="text" formControlName="description" id="description" class="formbold-form-input" required>
        <div *ngIf="description?.invalid && description?.touched">

          <small class="text-danger" *ngIf="description?.errors?.['required']">Field required</small>
        
            </div>

      </div>
      <div class="form-group givespace">
        <label class="control-label" for="date">Evaluation Date</label>
        <input type="date" formControlName="date" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"/>
      
      </div>

      <div class="form-group givespace">
        <label for="projectProgress" class="formbold-form-label">Project Progress</label>
        <input  [class.is-invalid]="projectProgress?.invalid && projectProgress?.touched" type="text" formControlName="projectProgress" id="projectProgress" class="formbold-form-input" required>
        <div *ngIf="projectProgress?.invalid && projectProgress?.touched">

          <small class="text-danger" *ngIf="projectProgress?.errors?.['required']">Field required</small>
        
            </div>

      </div>
  <br>
      <button class="btn btn-primary" type="submit" [disabled]="!projectCalendar.valid">Register</button>
      
    <br>
    <br>
  
    </form>
